/* Reset and global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #a5a0a0; /* Light grey background color */
}

/* Initial styling for "Who am I?" header */
.header-full {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
    z-index: 2;
}

.header-full h1 {
    font-size: 48px;
    margin: 0;
}

/* Styling for "Who am I?" header after scrolling */
.header-scroll {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.header-scroll h1 {
    font-size: 24px;
    margin: 0;
}

/* Styling for "Who am I?" header after scrolling */
.about {
    background-color: #f4f4f4;
    padding: 60px 0;
    text-align: center;
    transition: margin-top 0.3s ease;
}

.about.show-bio {
    margin-top: 20px;
}

.projects {
    background-color: #f4f4f4;
    padding: 60px 0;
    text-align: center;
    transition: margin-top 0.3s ease;
}

.projects.show-projects {
    margin-top: 20px;
}

/* Footer styles */
.footer {
    background-color: #fff;
    color: #333;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1; /* Ensures footer appears above content */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffc107;
}

/* Additional CSS for GitHub project cards (customize as needed) */
.project-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.project-card h3 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
}

.project-card p {
    color: #333;
}

/* Dynamic scrolling effects */
#about, #projects {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Apply animation when sections come into view */
.scroll-in-view {
    opacity: 1;
    transform: translateY(0);
}